<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HAMS"
        tools:targetApi="31">
        <activity
            android:name=".appointment_patientdetail"
            android:exported="false" />
        <activity
            android:name=".recyclelist_doctorappointments"
            android:exported="false" />
        <activity
            android:name=".patient_bookappointment"
            android:exported="false" />
        <activity
            android:name=".request_rejected"
            android:exported="false" />
        <activity
            android:name=".request_notprocesssedyet"
            android:exported="false" />
        <activity
            android:name=".requestsubmitted_pleasewait"
            android:exported="false" />
        <activity
            android:name=".rejectedpatient_detailinfo"
            android:exported="false" />
        <activity
            android:name=".rejecteddoctor_detailinfo"
            android:exported="false" />
        <activity
            android:name=".recyclelist_rejectedrequest"
            android:exported="false" />
        <activity
            android:name=".patient_detailinfo"
            android:exported="false" />
        <activity
            android:name=".doctor_detailinfo"
            android:exported="false" />
        <activity
            android:name=".recyclelist_registrationrequest"
            android:exported="false" />
        <activity
            android:name=".login_doctor"
            android:exported="false" />
        <activity
            android:name=".login_patient"
            android:exported="false" />
        <activity
            android:name=".menu_doctor"
            android:exported="false" />
        <activity
            android:name=".menu_patient"
            android:exported="false" />
        <activity
            android:name=".menu_admin"
            android:exported="false"
            android:label="@string/title_activity_menu_admin" />
        <activity
            android:name=".InputValidator"
            android:exported="false" />
        <activity
            android:name=".login_admin"
            android:exported="false" />
        <activity
            android:name=".userType_register"
            android:exported="false" />
        <activity
            android:name=".userType_login"
            android:exported="false" />
        <activity
            android:name=".registration_patient"
            android:exported="false" />
        <activity
            android:name=".registration_doctor"
            android:exported="false" />
        <activity
            android:name=".welcome_patient"
            android:exported="false" />
        <activity
            android:name=".welcome_doctor"
            android:exported="false" />
        <activity
            android:name=".welcome_administrator"
            android:exported="false" />
        <activity
            android:name=".view_administrator"
            android:exported="false" />
        <activity
            android:name=".view_doctor"
            android:exported="false" />
        <activity
            android:name=".view_patient"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>